body {
    background-color: azure;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 4px;
    width: 5%;
}

h1 {
    color: #66bfbf;
    font-family: 'Merriweather', sans-serif;
}

h3 {
    color: #66bfbf;
}

.footer {
    background-color:#66BFBF;   
}
